*{
    margin: 0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0ebf8;
}

h1,h2,h3,h4,h5,h6{
    color:#333;
}
p, label{ 
     color:#444;
}
input{
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    
}

input[type="text"], [type="file"], [type="emails"], [type="number"][type="date"]{
 width:400px;

}
textarea{

    padding: 20px;
    width:400px;
}


/* page header */ 


.header{

    height:160px;
    padding:20px;
    background-color:#673ab7;
}

.header h3{
    color:#fff;
    margin-top:0;
}
/* form container */

.container-form{
    background-color:#fdfdfd;
    width:60%;
    margin:0 auto;
    position:relative;
    top:-62px;
}

/* form header */


.header-form{

    border-bottom:1px solid #dfdfdf;
    height: 45px;

}
 .header-form p{

    color:#673ab7;
    border-bottom: 2px solid #673ab7;
    width:150px;
    text-align:center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;

 }



 /* form body */

 .body-form{

    padding: 30px;
 }


 .body-form p{
    
     margin-bottom: 20px;
     margin-top: 15px;
 }

 .required-field{

    color: #d80835;
 }

 .box-input{
    margin-bottom:35px;
 }

 .block{
    display:block;
 }

 .optional-box{

    display:inline-block;
    margin: 0 30px 30px 0;
    
   
 }

 .optional-list li{
    list-style:none;
    margin-bottom:5px;
 }
 
 .box-input p{
    margin-bottom:10px;

 }

 .cadastrar-button{
    background-color:#673ab7;
    color:#fff;
    border:2px solid transparent;
    width:150px;
    height:50px;
    cursor:pointer;
    text-transform:uppercase;
    transition:0.5s;

}

 .cadastrar-button:hover{
     background-color:#fff;
     border-color:#673ab7;
     color:#673ab7;

 }
    

